@import "reset";
@import "font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic,500italic,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
-----------------------------------------------
Chad Spencer Styles
----------------------------------------------- */
$ubuntu: 'Ubuntu', Helvetica, Arial, Verdana, sans-serif;
$mont: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;
$grey: #4D5A5A;
$light-grey: #BDBDBD;

/* Global
----------------------------------------------- */
body {
  color: $grey;
  font-family: $ubuntu;
  font-style: normal;
  font-weight: 400;
  padding: 10% 2% 2% 2%;
  @media all and (max-width: 1024px) {
    -webkit-text-size-adjust: none;
  }
  @media all and (max-width: 1023px) {
    padding-left: 5%;
    padding-right: 5%;
    -webkit-text-size-adjust: none;
  }
}
a {
  color: $grey;
  text-decoration: underline;
	&:hover {
	  text-decoration: underline;
  }
}

/* Content
----------------------------------------------- */
h1 {
  color: $light-grey;
  font: 700 115px/115px $mont;
  text-align: center;
  text-transform: uppercase;
  @media all and (max-width: 1199px) {
    font-size: 100px;
    line-height: 100px;
  }
  @media all and (max-width: 1023px) {
    font-size: 70px;
    line-height: 70px;
  }
  @media all and (max-width: 767px) {
    font-size: 35px;
    line-height: 35px;
  }
  a {
    color: $light-grey;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  b {
    color: $grey;
    display: block;
    font-size: 220px;
    font-weight: 700;
    line-height: 220px;
    @media all and (max-width: 1199px) {
      font-size: 160px;
      line-height: 160px;
    }
    @media all and (max-width: 1023px) {
      font-size: 130px;
      line-height: 130px;
    }
    @media all and (max-width: 767px) {
      font-size: 60px;
      line-height: 60px;
    }
  }
}
h2 {
  color: $light-grey;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  margin: 50px 0;
  position: relative;
  text-align: center;
  @media all and (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
    margin: 25px 0;
  }
  &:after {
    border-top: 2px dotted $light-grey;
    content: '';
    display: block;
    height: 0;
    margin: 50px auto 0 auto;
    width: 250px;
    @media all and (max-width: 767px) {
      margin-top: 25px;
    }
  }
  a {
    color: $light-grey;
  }
}
h3 {
  font-family: $mont;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  @media all and (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
  }
}
p {
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  margin: 0 0 40px 0;
  @media all and (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &.center {
    text-align: center;
  }
} 
ul {
  &.circles {
    font-size: 0;
    margin: 60px auto 100px auto;
    max-width: 1400px;
    text-align: center;
    @media all and (max-width: 767px) {
      margin-bottom: 60px;
      margin-top: 30px;
    }
    li {
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
      width: 32%;
      @media all and (max-width: 1023px) {
        vertical-align: top;
        width: 48%;
        margin-top: 50%;
      }
      @media all and (max-width: 767px) {
        display: block;
        margin: -4% auto 0 auto;
        width: 85%;
      }
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      &.nights {
        background: rgba(53, 210, 215, 0.75);
        @media all and (max-width: 767px) {
          z-index: 10;
        }
        div {
          h3 {
            &:before {
              content: '\f186';
            }
          }
        }
      }
      &.days {
        background: rgba(235, 225, 55, 0.75);
        margin: 0 -2.5%;
        width: 40%;
        z-index: 10;
        @media all and (max-width: 1023px) {
          margin: 0 -29%;
          width: 60%;
        }
        @media all and (max-width: 767px) {
          margin: 0;
          width: 100%;
          z-index: 20;
        }
        div {
          padding: 12%;
          h3 {
            &:before {
              content: '\f185';
            }
          }
        }
      }
      &.weekends {
        background: rgba(237, 82, 41, 0.75);
        div {
          h3 {
            &:before {
              content: '\f006';
            }
          }
        }
      }
      div {
        box-sizing: border-box;
        left: 0;
        padding: 10%;
        position: absolute;
        text-align: center;
        top: 45%;
        transform: translateY(-50%);
        width: 100%;
        @media all and (max-width: 1199px) {
          top: 50%;
        }
        h3 {
          color: #fff;
          font-family: $mont;
          font-size: 40px;
          line-height: 45px;
          margin: 0 0 20px 0;
          @media all and (max-width: 1199px) {
            font-size: 35px;
            line-height: 40px;
            margin-bottom: 10px;
          }
          @media all and (max-width: 767px) {
            font-size: 25px;
            line-height: 30px;
          }
          &:before {
            color: $grey;
            display: block;
            font-family: 'FontAwesome';
            font-weight: normal;
            margin: 0 10px 0 0;
            @media all and (max-width: 1199px) {
              display: none;
            }
          }
        }
        p {
          font-size: 18px;
          line-height: 25px;
          margin: 0;
          @media all and (max-width: 1199px) {
            font-size: 16px;
            line-height: 22px;
          }
          @media all and (max-width: 767px) {
            font-size: 14px;
            line-height: 20px;
          }
          @media all and (max-width: 359px) {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
    }
  }
  &.work {
    font-size: 0;
    margin: 60px auto 100px auto;
    max-width: 1000px;
    text-align: center;
    @media all and (max-width: 767px) {
      margin-bottom: 60px;
      margin-top: 30px;
    }
    li {
      background: rgba(237, 82, 41, 0.75);
      border-radius: 50%;
      display: inline-block;
      margin: -1%;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
      width: 33%;
      @media all and (max-width: 767px) {
        display: block;
        margin: -4% auto 0 auto;
        width: 85%;
      }
      &:nth-of-type(4n + 1) {
        background: rgba(53, 210, 215, 0.75);
      }
      &:nth-of-type(4n + 2) {
        background: rgba(235, 225, 55, 0.75);
      }
      &:nth-of-type(4n + 3) {
        background: rgba(77, 90, 90, 0.75);
      }
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      a {
        box-sizing: border-box;
        display: block;
        left: 0;
        padding: 10%;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        &:hover {
          h3 {
            color: $grey;
          }
        }
        h3 {
          color: #fff;
          font-family: $mont;
          font-size: 30px;
          line-height: 35px;
          margin: 0;
          @media all and (max-width: 1023px) {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 10px;
          }
          &:before {
            color: $grey;
            display: block;
            font-family: 'FontAwesome';
            font-weight: normal;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
  &.social {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 20px;
      @media all and (max-width: 767px) {
        margin: 0 10px;
      }
      a {
        color: $light-grey;
        font-size: 0;
        line-height: 60px;
        &:before {
          display: inline-block;
          font-family: 'FontAwesome';
          font-size: 50px;
          font-weight: normal;
          margin: 0;
          @media all and (max-width: 767px) {
            font-size: 35px;
          }
        }
        &:hover {
          color: $grey;
        }
        &.email {
          &:before {
            content: '\f0e0';
          }
        }
        &.github {
          &:before {
            content: '\f09b';
          }
        }
        &.linkedin {
          &:before {
            content: '\f0e1';
          }
        }
        &.twitter {
          &:before {
            content: '\f099';
          }
        }
      }
    }
  }
}
article {
  margin: 0 auto 100px auto;
  max-width: 800px;
  text-align: center;
  @media all and (max-width: 767px) {
    margin-bottom: 60px;
    text-align: left;
  }
}