<form>
    <div class="grid">
        <div class="unit-1-2 unit-1-1-lg margin">
            <div class="checkbox">
                <input id="label-1" type="checkbox" />
                <label for="label-1">Photography</label>
            </div>
            <div class="checkbox">
                <input id="label-2" type="checkbox" />
                <label for="label-2">Graphic Design</label>
            </div>
            <div class="checkbox">
                <input id="label-3" type="checkbox" />
                <label for="label-3">Web Design</label>
            </div>
            <div class="checkbox">
                <input id="label-4" type="checkbox" />
                <label for="label-4">Web Development</label>
            </div>
            <div class="checkbox">
                <input id="label-5" type="checkbox" />
                <label for="label-5">Copywriting</label>
            </div>
            <div class="checkbox">
                <input id="label-6" type="checkbox" />
                <label for="label-6">Marketing</label>
            </div>
        </div>
        <div class="unit-1-2 unit-1-1-lg margin">
            <div class="checkbox">
                <input id="label-7" type="checkbox" />
                <label for="label-7">Branding</label>
            </div>
            <div class="checkbox">
                <input id="label-8" type="checkbox" />
                <label for="label-8">Software Engineering</label>
            </div>
            <div class="checkbox">
                <input id="label-9" type="checkbox" />
                <label for="label-9">Videography</label>
            </div>
            <div class="checkbox">
                <input id="label-10" type="checkbox" />
                <label for="label-10">Motion Graphics</label>
            </div>
            <div class="checkbox">
                <input id="label-11" type="checkbox" />
                <label for="label-11">Animation</label>
            </div>
            <div class="checkbox">
                <input id="label-12" type="checkbox" />
                <label for="label-12">Typography</label>
            </div>
        </div>
    </div>
    <button>Filter</button>
</form>
