<section>
    <article>
        <div class="grid">
            <div class="unit-1-2 unit-1-1-sm">
                <h3>What We Do</h3>
                <p class="callout">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu laoreet est.</p>
                <p>Integer mollis mauris quis erat finibus mollis. Curabitur porttitor pellentesque ultricies. Integer luctus fermentum elementum. Nunc blandit dolor leo, ac maximus risus suscipit sit amet. Etiam vel est tristique, maximus nunc nec, condimentum diam. Nulla sed maximus mi. Etiam sit amet ex maximus, bibendum turpis at, dapibus est. Donec vel convallis leo.</p>
            </div>
            <div class="unit-1-2 unit-1-1-sm">
                <div class="grid small">
                    <div class="unit-1-5 margin">
                        <img class="full" src="/media/images/find.svg" />
                    </div>
                    <div class="unit-4-5 margin">
                        <h4>Special Speakers</h4>
                        <p>Whether you’re looking for a freelancer, new hire to join your team, or recent grads or interns, visit our members directory to see who’s who. You can even post a job on our jobs board (link) to reach our super-targeted and talented pool.</p>
                        <p class="clean"><a href="">Learn More</a></p>
                    </div>
                </div>
                <div class="grid small">
                    <div class="unit-1-5 margin">
                        <img class="full" src="/media/images/find.svg" />
                    </div>
                    <div class="unit-4-5 margin">
                        <h4>Advocacy</h4>
                        <p>Somehow fill a similarly-sized paragraph with how creatives can become members to gain access to the jobs board to see current open positions and internships. Employers looking to post can do that at some [link] and there ya go.</p>
                        <p class="clean"><a href="">Learn More</a></p>
                    </div>
                </div>
                <div class="grid small">
                    <div class="unit-1-5 margin">
                        <img class="full" src="/media/images/find.svg" />
                    </div>
                    <div class="unit-4-5 margin">
                        <h4>Help Students</h4>
                        <p>Whether you’re looking for a freelancer, new hire to join your team, or recent grads or interns, visit our members directory to see who’s who. You can even post a job on our jobs board (link) to reach our super-targeted and talented pool.</p>
                        <p class="clean"><a href="">Learn More</a></p>
                    </div>
                </div>
                <div class="grid small">
                    <div class="unit-1-5 margin">
                        <img class="full" src="/media/images/find.svg" />
                    </div>
                    <div class="unit-4-5 margin">
                        <h4>Another One</h4>
                        <p>Somehow fill a similarly-sized paragraph with how creatives can become members to gain access to the jobs board to see current open positions and internships. Employers looking to post can do that at some [link] and there ya go.</p>
                        <p class="clean"><a href="">Learn More</a></p>
                    </div>
                </div>
                <div class="grid small">
                    <div class="unit-1-5 margin">
                        <img class="full" src="/media/images/find.svg" />
                    </div>
                    <div class="unit-4-5 margin">
                        <h4>Monthly Meetings</h4>
                        <p>Some text about how if you need to find an agency, studio, shop or the like for your project, this is the first stop to look. Your community resource. Emphasis on keeping work local with one of many world-class shops.</p>
                        <p class="clean"><a href="">Learn More</a></p>
                    </div>
                </div>
                <div class="grid small">
                    <div class="unit-1-5 margin">
                        <img class="full" src="/media/images/find.svg" />
                    </div>
                    <div class="unit-4-5 margin">
                        <h4>Industry Promotion</h4>
                        <p>Some text about how if you need to find an agency, studio, shop or the like for your project, this is the first stop to look. Your community resource. Emphasis on keeping work local with one of many world-class shops.</p>
                        <p class="clean"><a href="">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
